{{!-- <h2>Noticia single</h2> --}}
{{!-- {{log content.thumbnail_images.full.url}} --}}
{{!-- {{log content.thumburl}} --}}
<img src="{{content.thumbnailImages.full.url}}" class="img-responsive center-block" alt="...">
<h3 class="text-left">{{content.title}}</h3>
<p class="text-left">{{{content.content}}}</p>